<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<launchConfiguration type="org.eclipse.pde.ui.JunitLaunchConfig">
<booleanAttribute key="append.args" value="true"/>
<stringAttribute key="application" value="org.eclipse.pde.junit.runtime.coretestapplication"/>
<booleanAttribute key="askclear" value="false"/>
<booleanAttribute key="automaticAdd" value="false"/>
<booleanAttribute key="automaticValidate" value="false"/>
<stringAttribute key="bootstrap" value=""/>
<stringAttribute key="checked" value="org.eclipse.ecf.provider.etcd"/>
<booleanAttribute key="clearConfig" value="true"/>
<booleanAttribute key="clearws" value="true"/>
<booleanAttribute key="clearwslog" value="false"/>
<stringAttribute key="configLocation" value="${workspace_loc}/.metadata/.plugins/org.eclipse.pde.core/pde-junit"/>
<booleanAttribute key="default" value="false"/>
<booleanAttribute key="includeOptional" value="false"/>
<stringAttribute key="location" value="${workspace_loc}/../junit-workspace"/>
<listAttribute key="org.eclipse.debug.core.MAPPED_RESOURCE_PATHS">
<listEntry value="/org.eclipse.ecf.tests.provider.etcd"/>
</listAttribute>
<listAttribute key="org.eclipse.debug.core.MAPPED_RESOURCE_TYPES">
<listEntry value="4"/>
</listAttribute>
<stringAttribute key="org.eclipse.jdt.junit.CONTAINER" value="=org.eclipse.ecf.tests.provider.etcd"/>
<booleanAttribute key="org.eclipse.jdt.junit.KEEPRUNNING_ATTR" value="false"/>
<stringAttribute key="org.eclipse.jdt.junit.TESTNAME" value=""/>
<stringAttribute key="org.eclipse.jdt.junit.TEST_KIND" value="org.eclipse.jdt.junit.loader.junit4"/>
<stringAttribute key="org.eclipse.jdt.launching.JRE_CONTAINER" value="org.eclipse.jdt.launching.JRE_CONTAINER/org.eclipse.jdt.internal.debug.ui.launcher.StandardVMType/JavaSE-1.8"/>
<stringAttribute key="org.eclipse.jdt.launching.MAIN_TYPE" value=""/>
<stringAttribute key="org.eclipse.jdt.launching.PROGRAM_ARGUMENTS" value="-os ${target.os} -ws ${target.ws} -arch ${target.arch} -nl ${target.nl} -consoleLog -console"/>
<stringAttribute key="org.eclipse.jdt.launching.PROJECT_ATTR" value="org.eclipse.ecf.tests.provider.etcd"/>
<stringAttribute key="org.eclipse.jdt.launching.SOURCE_PATH_PROVIDER" value="org.eclipse.pde.ui.workbenchClasspathProvider"/>
<stringAttribute key="org.eclipse.jdt.launching.VM_ARGUMENTS" value="-Xms40m -Xmx384m&#13;&#10;-Detcd.test.hostname=localhost&#13;&#10;-Decf.discovery.etcd.hostname=localhost"/>
<stringAttribute key="pde.version" value="3.3"/>
<stringAttribute key="product" value="org.eclipse.equinox.p2.director.app.product"/>
<booleanAttribute key="run_in_ui_thread" value="true"/>
<stringAttribute key="selected_target_plugins" value="org.apache.felix.gogo.command@default:default,org.apache.felix.gogo.runtime@default:default,org.apache.felix.gogo.shell@default:default,org.eclipse.core.contenttype@default:default,org.eclipse.core.jobs@default:default,org.eclipse.core.runtime@default:true,org.eclipse.ecf.discovery@default:default,org.eclipse.ecf.identity@default:default,org.eclipse.ecf@default:default,org.eclipse.equinox.app@default:default,org.eclipse.equinox.common@2:true,org.eclipse.equinox.concurrent@default:default,org.eclipse.equinox.console@default:default,org.eclipse.equinox.ds@1:true,org.eclipse.equinox.preferences@default:default,org.eclipse.equinox.registry@default:default,org.eclipse.equinox.util@default:default,org.eclipse.osgi.services@default:default,org.eclipse.osgi@-1:true,org.hamcrest.core@default:default,org.json@default:default,org.junit@default:default"/>
<stringAttribute key="selected_workspace_plugins" value="org.eclipse.ecf.provider.etcd@default:default,org.eclipse.ecf.tests.provider.etcd@default:default"/>
<booleanAttribute key="show_selected_only" value="false"/>
<booleanAttribute key="tracing" value="true"/>
<mapAttribute key="tracingOptions">
<mapEntry key="org.eclipse.core.contenttype/debug" value="false"/>
<mapEntry key="org.eclipse.core.jobs/jobs" value="false"/>
<mapEntry key="org.eclipse.core.jobs/jobs/beginend" value="false"/>
<mapEntry key="org.eclipse.core.jobs/jobs/errorondeadlock" value="false"/>
<mapEntry key="org.eclipse.core.jobs/jobs/locks" value="false"/>
<mapEntry key="org.eclipse.core.jobs/jobs/shutdown" value="false"/>
<mapEntry key="org.eclipse.core.jobs/jobs/timing" value="false"/>
<mapEntry key="org.eclipse.core.runtime/compatibility/debug" value="false"/>
<mapEntry key="org.eclipse.core.runtime/debug" value="false"/>
<mapEntry key="org.eclipse.core.runtime/debug/context" value="false"/>
<mapEntry key="org.eclipse.core.runtime/perf" value="false"/>
<mapEntry key="org.eclipse.core.runtime/perf/success" value="false"/>
<mapEntry key="org.eclipse.core.runtime/preferences/plugin" value="false"/>
<mapEntry key="org.eclipse.core.runtime/url/debug" value="false"/>
<mapEntry key="org.eclipse.core.runtime/url/debug/cachecopy" value="false"/>
<mapEntry key="org.eclipse.core.runtime/url/debug/cachelookup" value="false"/>
<mapEntry key="org.eclipse.core.runtime/url/debug/connect" value="false"/>
<mapEntry key="org.eclipse.ecf.discovery/debug" value="false"/>
<mapEntry key="org.eclipse.ecf.discovery/debug/exceptions/catching" value="false"/>
<mapEntry key="org.eclipse.ecf.discovery/debug/exceptions/throwing" value="false"/>
<mapEntry key="org.eclipse.ecf.discovery/debug/filter" value="*"/>
<mapEntry key="org.eclipse.ecf.discovery/debug/flag" value="false"/>
<mapEntry key="org.eclipse.ecf.discovery/debug/methods/changing" value="false"/>
<mapEntry key="org.eclipse.ecf.discovery/debug/methods/entering" value="false"/>
<mapEntry key="org.eclipse.ecf.discovery/debug/methods/exiting" value="false"/>
<mapEntry key="org.eclipse.ecf.discovery/debug/methods/tracing" value="false"/>
<mapEntry key="org.eclipse.ecf.osgi.services.remoteserviceadmin/debug" value="true"/>
<mapEntry key="org.eclipse.ecf.osgi.services.remoteserviceadmin/debug/containerselector" value="true"/>
<mapEntry key="org.eclipse.ecf.osgi.services.remoteserviceadmin/debug/endpointdescriptionadvertiser" value="true"/>
<mapEntry key="org.eclipse.ecf.osgi.services.remoteserviceadmin/debug/endpointdescriptionlocator" value="true"/>
<mapEntry key="org.eclipse.ecf.osgi.services.remoteserviceadmin/debug/endpointdescriptionreader" value="true"/>
<mapEntry key="org.eclipse.ecf.osgi.services.remoteserviceadmin/debug/exceptions/catching" value="true"/>
<mapEntry key="org.eclipse.ecf.osgi.services.remoteserviceadmin/debug/exceptions/throwing" value="true"/>
<mapEntry key="org.eclipse.ecf.osgi.services.remoteserviceadmin/debug/filter" value="*"/>
<mapEntry key="org.eclipse.ecf.osgi.services.remoteserviceadmin/debug/flag" value="true"/>
<mapEntry key="org.eclipse.ecf.osgi.services.remoteserviceadmin/debug/metadatafactory" value="true"/>
<mapEntry key="org.eclipse.ecf.osgi.services.remoteserviceadmin/debug/packageversioncomparator" value="true"/>
<mapEntry key="org.eclipse.ecf.osgi.services.remoteserviceadmin/debug/remoteserviceadmin" value="true"/>
<mapEntry key="org.eclipse.ecf.osgi.services.remoteserviceadmin/debug/topologymanager" value="true"/>
<mapEntry key="org.eclipse.ecf.provider.etcd/debug" value="true"/>
<mapEntry key="org.eclipse.ecf.provider.etcd/debug/exceptions/catching" value="true"/>
<mapEntry key="org.eclipse.ecf.provider.etcd/debug/exceptions/throwing" value="true"/>
<mapEntry key="org.eclipse.ecf.provider.etcd/debug/filter" value="*"/>
<mapEntry key="org.eclipse.ecf.provider.etcd/debug/flag" value="true"/>
<mapEntry key="org.eclipse.ecf.provider.etcd/debug/protocol" value="false"/>
<mapEntry key="org.eclipse.ecf.provider.etcd/debug/watchjob" value="true"/>
<mapEntry key="org.eclipse.equinox.ds/debug" value="false"/>
<mapEntry key="org.eclipse.equinox.ds/instantiate_all" value="false"/>
<mapEntry key="org.eclipse.equinox.ds/performance" value="false"/>
<mapEntry key="org.eclipse.equinox.ds/print_on_console" value="false"/>
<mapEntry key="org.eclipse.equinox.preferences/general" value="false"/>
<mapEntry key="org.eclipse.equinox.preferences/get" value="false"/>
<mapEntry key="org.eclipse.equinox.preferences/set" value="false"/>
<mapEntry key="org.eclipse.equinox.registry/debug" value="false"/>
<mapEntry key="org.eclipse.equinox.registry/debug/events" value="false"/>
<mapEntry key="org.eclipse.osgi/debug" value="false"/>
<mapEntry key="org.eclipse.osgi/debug/bundleTime" value="false"/>
<mapEntry key="org.eclipse.osgi/debug/cachedmanifest" value="false"/>
<mapEntry key="org.eclipse.osgi/debug/events" value="false"/>
<mapEntry key="org.eclipse.osgi/debug/filter" value="false"/>
<mapEntry key="org.eclipse.osgi/debug/loader" value="false"/>
<mapEntry key="org.eclipse.osgi/debug/location" value="false"/>
<mapEntry key="org.eclipse.osgi/debug/manifest" value="false"/>
<mapEntry key="org.eclipse.osgi/debug/messageBundles" value="false"/>
<mapEntry key="org.eclipse.osgi/debug/objectPool/adds" value="false"/>
<mapEntry key="org.eclipse.osgi/debug/objectPool/dups" value="false"/>
<mapEntry key="org.eclipse.osgi/debug/packageadmin" value="false"/>
<mapEntry key="org.eclipse.osgi/debug/security" value="false"/>
<mapEntry key="org.eclipse.osgi/debug/services" value="false"/>
<mapEntry key="org.eclipse.osgi/debug/startlevel" value="false"/>
<mapEntry key="org.eclipse.osgi/debug/systemBundle" value="false"/>
<mapEntry key="org.eclipse.osgi/eclipseadaptor/converter/debug" value="false"/>
<mapEntry key="org.eclipse.osgi/eclipseadaptor/debug" value="false"/>
<mapEntry key="org.eclipse.osgi/eclipseadaptor/debug/platformadmin" value="false"/>
<mapEntry key="org.eclipse.osgi/eclipseadaptor/debug/platformadmin/resolver" value="false"/>
<mapEntry key="org.eclipse.osgi/monitor/activation" value="false"/>
<mapEntry key="org.eclipse.osgi/monitor/lazy" value="false"/>
<mapEntry key="org.eclipse.osgi/resolver" value="false"/>
<mapEntry key="org.eclipse.osgi/resolver/hooks" value="false"/>
<mapEntry key="org.eclipse.osgi/resolver/providers" value="false"/>
<mapEntry key="org.eclipse.osgi/resolver/report" value="false"/>
<mapEntry key="org.eclipse.osgi/resolver/roots" value="false"/>
<mapEntry key="org.eclipse.osgi/resolver/uses" value="false"/>
<mapEntry key="org.eclipse.osgi/resolver/wiring" value="false"/>
</mapAttribute>
<booleanAttribute key="useCustomFeatures" value="false"/>
<booleanAttribute key="useDefaultConfig" value="true"/>
<booleanAttribute key="useDefaultConfigArea" value="false"/>
<booleanAttribute key="useProduct" value="false"/>
</launchConfiguration>
